.panda-body{
    height: 120px;
}
.panda-body img{
    height: 80%;
}
.panda-carousel{
    background: #fceae8;
}
.panda-button{
    background-image: linear-gradient( #FF589B,#FF136F ) ;
}
.panda-footer{
    background: #fceae8;
    height: 400px;
}
footer{
    text-align: center;
}
